<!-- _includes/seminar.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
      <div class="card hoverable">
        <div class="card-body">
          <h3 class="card-title">{{ seminar.title }}</h3>
          <div class="seminar-image">{%- include figure.html
            path=seminar.img
            alt="speaker headshot" -%}
          </div>
          <div class="seminar-content">
            <p>Presenter: <a href="{{ seminar.presenter_bio_link }}">{{ seminar.presenter }}</a>, <i>{{ seminar.presenter_affiliation }}</i></p>
            <p>Date: {{ seminar.start_date | date: "%A, %B %-d, %Y %l:%M %p" }} - {{ seminar.end_date | date: "%l:%M %p %Z" }} ET</p>
            {% if seminar.video_link %}
              <p>Watch the recorded seminar on <a href="{{ seminar.video_link }}">YouTube</a>.</p>
            {% endif %}
            <p class="card-text">{{ seminar.description }} </p>
            {% if seminar.video_link %}
              <div style="display: flex; justify-content: center;"> 
                <iframe width="560" height="315" src="{{ seminar.embed_video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
</div>
