<!-- _includes/team.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  <div class="card hoverable card-hover" onclick="handleCardClick(event, '{{ team.redirect | default: team.url | relative_url }}')">
    {%- if team.img %}
    {%- include figure.html
      path=team.img
      alt="team thumbnail" -%}
    {%- endif %}
    <div class="card-body">
      <h2 class="card-title">{{ team.title }}</h2>
      <p class="card-text">
        <i class="fa fa-envelope"></i>
        <a href="mailto:{{ team.email }}" onclick="event.stopPropagation();">{{ team.email }}</a>
      </p>
      <p class="card-text">{{ team.description }}</p>
      <p class="card-text">
        <a href="{{ team.url | relative_url }}/" onclick="event.stopPropagation();">Read more <i class="fa fa-angle-double-right"></i></a>
      </p>
    </div>
  </div>
</div>

<script>
  function handleCardClick(event, url) {
    window.location.href = url;
  }
</script>
