<!-- _includes/seminar.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
      <div class="card hoverable">
        <div class="card-body">
          <h3 class="card-title">{{ seminar.title }}</h3>
          <div class="seminar-image">{%- include figure.html
            path=seminar.img
            alt="speaker headshot" -%}
          </div>
          <div class="seminar-content">
            <p>Presenter: <a href="{{ seminar.presenter_bio_link }}">{{ seminar.presenter }}</a>, <i>{{ seminar.presenter_affiliation }}</i></p>
            <p>Date: {{ seminar.start_date | date: "%A, %B %-d, %Y %l:%M %p" }} - {{ seminar.end_date | date: "%l:%M %p %Z" }} EST</p>
            <p>Location: {{ seminar.room }} and via <a href="{{ seminar.registration_link }}">live stream</a></p>
            <p><a href="{{ seminar.registration_link }}">Register for the event <i class="fas fa-external-link-alt"></i></a></p>
            <p class="card-text">{{ seminar.description }} </p>
          </div>
        </div>
      </div>
</div>
