---
layout: default
---

      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {{ site.title }}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          <h2>Our mission</h2>
          <h3>Understanding variation in human brain biology</h3>
          <p>To create an atlas of the profound variation in human brain biology using the latest single-cell and spatial omics technologies, to share this resource with the scientific and public communities, and to expand our understanding of the ways the human brain varies in both healthy and neurological conditions.</p>
          <p><a href="/about">About us <i class="fa fa-angle-double-right"></i></a></p>
          <h2>Team</h2>
          <h3>Who We Are</h3>
          <p>Our interdisciplinary team has expertise in single-cell and spatial omics technologies, neuroscience, human genetics, and computational analysis.</p>
          <p><a href="/team">Meet us <i class="fa fa-angle-double-right"></i></a></p>
          <h2>Research focus</h2>
          <h3>Inter-Individual Variation</h3>
          <p>As cell-census research moves from cell atlases of laboratory organisms to humans, our greatest challenge and opportunity involves inter-individual variation.</p>
          <p><a href="/team">Research <i class="fa fa-angle-double-right"></i></a></p>
        </article>
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>
</div>
